In [2]:
import pandas as pd
import numpy as np
import pytz

In [6]:
taxi = pd.read_csv("taxi_joined_2015.csv", index_col=0)

In [8]:
taxi[["temp","normlzed"]].corr()

              temp  normlzed
temp      1.000000  0.013787
normlzed  0.013787  1.000000

In [13]:
l = ['Clear','Clouds','Drizzle','Fog','Haze','Mist','Rain','Snow','Thunderstorm']
for i in l:
    print(i, len(taxi[taxi[i]==1]))

Clear 3385
Clouds 4025
Drizzle 22
Fog 10
Haze 162
Mist 186
Rain 934
Snow 30
Thunderstorm 5

In [20]:
taxi[["Clear","Rain","normlzed"]].corr()

             Clear      Rain  normlzed
Clear     1.000000 -0.274196  -0.01699
Rain     -0.274196  1.000000  -0.01577
normlzed -0.016990 -0.015770   1.00000

In [31]:
Rain = taxi[taxi["Rain"]==1]
Clear = taxi[taxi["Clear"]==1]
expanded = pd.concat([Clear,Rain,Rain,Rain,Rain])

expanded[["Clear","Rain","normlzed"]].corr()

            Clear     Rain  normlzed
Clear     1.00000 -1.00000   0.01191
Rain     -1.00000  1.00000  -0.01191
normlzed  0.01191 -0.01191   1.00000

In [22]:
taxi[["Clear","Snow","normlzed"]].corr()

             Clear      Snow  normlzed
Clear     1.000000 -0.046527 -0.016990
Snow     -0.046527  1.000000  0.016068
normlzed -0.016990  0.016068  1.000000

In [32]:
snow = taxi[taxi["Snow"]==1]
clear = taxi[taxi["Clear"]==1]
expanded = clear
for i in range(100):
    expanded = pd.concat([expanded,Snow])

expanded[["Clear","Snow","normlzed"]].corr()

             Clear      Snow  normlzed
Clear     1.000000 -1.000000 -0.137429
Snow     -1.000000  1.000000  0.137429
normlzed -0.137429  0.137429  1.000000

In [30]:
clear.sample(n=30,random_state=1)
expanded = pd.concat([clear,snow])
expanded[["Clear","Snow","normlzed"]].corr()

             Clear      Snow  normlzed
Clear     1.000000 -1.000000 -0.026548
Snow     -1.000000  1.000000  0.026548
normlzed -0.026548  0.026548  1.000000

In [36]:
clear.sample(n=600,random_state=1)
expanded = pd.concat([clear,snow])
for i in range(19):
    expanded = pd.concat([expanded,Snow])
expanded[["Clear","Snow","normlzed"]].corr()

             Clear      Snow  normlzed
Clear     1.000000 -1.000000 -0.100525
Snow     -1.000000  1.000000  0.100525
normlzed -0.100525  0.100525  1.000000